/*  	
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #CCCCCC;
	background-color: #161616;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #CCCCCC;
}

h3 {
	border-bottom-color: #4f4f4f;
	color: #CCCCCC;
}

hr {
	border-color: #4f4f4f;
	border-top-color: #4f4f4f;
}

hr.dashed {
	border-top-color: #4f4f4f;
}

/* Search box
--------------------------------------------- */

#search-box {
	color: #FFFFFF;
}

#search-box #keywords {
	background-color: #FFF;
}

#search-box input {
	border-color: #000;
	background-color: #FAFAFA;
	color: #000;
}

#search-box input:hover {
	border-color: #385400;
	color: #385400;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.headerbar {
	background-color: #161616;
	background-image: url("{T_THEME_PATH}/images/bg_header.png");
	color: #FFFFFF;
}

.navbar {
	background-color: #262626;
}

.forabg {
	background-color: #262626;
	background-image: url("{T_THEME_PATH}/images/bg_list.gif");
}

.forumbg {
	background-color: #262626;
	background-image: url("{T_THEME_PATH}/images/bg_list.gif");
}

.panel {
	background-color: #262626;
	color: #CCCCCC;
}

.post:target .content {
	color: #E6E6E6;
}

.post:target h3 a {
	color: #FFFFFF;
}

.bg1	{ background-color: #262626; }
.bg2	{ background-color: #262626; }
.bg3	{ background-color: #262626; }

.ucprowbg {
	background-color: #262626;
}

.fieldsbg {
	background-color: #262626;
}

span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-bottom-color: #4f4f4f;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #E6E6E6;
}

table.table1 tbody tr {
	border-color: transparent;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #262626;
	color: #CCCCCC;
}

table.table1 td {
	color: #CCCCCC;
}

table.table1 tbody td {
	border-bottom-color: #4f4f4f;
}

table.table1 tbody th {
	border-bottom-color: #4f4f4f;
	color: #CCCCCC;
	background-color: #262626;
}

table.info tbody th {
	color: #E6E6E6;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #CCCCCC;
}

dl.details dd {
	color: #CCCCCC;
}

.sep {
	color: #394033;
}

/* Pagination
---------------------------------------- */

.pagination span strong {
	color: #CCCCCC;
	background-color: #262626;
	border-color: #474747;
}

.pagination span a, .pagination span a:link, .pagination span a:visited {
	color: #a4d640;
	background-color: #262626;
	border-color: #474747;
}

.pagination span a:active {
	color: #DAEDB4;
	background-color: #262626;
	border-color: #474747;
}

.pagination span a:hover {
	border-color: #474747;
	background-color: #262626;
	color: #a4d640;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	background-image: url("{T_THEME_PATH}/images/icon_pages.gif");
}

.row .pagination span a, li.pagination span a {
	background-color: #262626;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #262626;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #bfbfbf;
}

.error {
	color: #ff3867;
}

li.reported:hover {
	background-color: transparent !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #4d000d;
	color: #e5b8c2;
}

p.rules {
	background-color: #801a1a;
	border: 1px dotted #161616;
	background-image: none;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a:link	{ color: #b1e051; }
a:visited	{ color: #c3eb71; }
a:hover	{ color: #8fcc14; }
a:active	{ color: #c3eb71; }

/* Links on gradient backgrounds */
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
	color: #d0d6c9;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #d0d6c9;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #d0e5b8;
}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
	color: #d0d6c9;
}

/* Links for forum/topic lists */
a.forumtitle {
	color: #dae5cf;
}

/* a.forumtitle:visited { color: #105289; } */

a.forumtitle:hover {
	color: #8fcc14;
}

a.forumtitle:active {
	color: #dae5cf;
}

a.topictitle {
	color: #dae5cf;
}

/* a.topictitle:visited { color: #368AD2; } */

a.topictitle:hover {
	color: #8fcc14;
}

a.topictitle:active {
	color: #dae5cf;
}

/* Post body links */
.postlink {
	color: #b1e051;
}

.postlink:visited {
	color: #c3eb71;
}

.postlink:active {
	color: #b1e051;
}

.postlink:hover {
	color: #8fcc14;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
	background-color: transparent;
}

/* Profile links */
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
	color: #d0d6c9;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	color: #aaff00;
}

.postprofile a:active {
	color: #d0d6c9;
}

/* Profile searchresults */	
.search .postprofile a {
	color: #c3eb71;
}

.search .postprofile a:hover {
	color: #8fcc14;
}

/* Back to top of page */
a.top {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

a.top2 {
	background-image: url("{IMG_ICON_BACK_TOP_SRC}");
}

/* Arrow links  */
a.up		{ background-image: url("{T_THEME_PATH}/images/arrow_up.gif") }
a.down		{ background-image: url("{T_THEME_PATH}/images/arrow_down.gif") }
a.left		{ background-image: url("{T_THEME_PATH}/images/arrow_left.gif") }
a.right		{ background-image: url("{T_THEME_PATH}/images/arrow_right.gif") }

a.up:hover {
	background-color: transparent;
}

a.left:hover {
	color: #8fcc14;
}

a.right:hover {
	color: #8fcc14;
}


/*  	
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #262626;
}

ul.topiclist li {
	color: #CCCCCC;
}

/* ul.topiclist dd {
	border-left-color: #454545;
} */

.rtl ul.topiclist dd {
	border-right-color: #454545;
}

ul.topiclist li.row dt a.subforum.read {
	background-image: url("{IMG_SUBFORUM_READ_SRC}");
}

ul.topiclist li.row dt a.subforum.unread {
	background-image: url("{IMG_SUBFORUM_UNREAD_SRC}");
}

li.row {
	border-top-color: #3D3D3D;
/*	border-bottom-color: #282828; */
}

li.row strong {
	color: #E6E6E6;
}

/* li.row:hover {
	background-color: #262626;
}

li.row:hover dd {
	border-left-color: #454545;
} 

.rtl li.row:hover dd {
	border-right-color: #454545;
	border-left: none;
} */

li.header dt, li.header dd {
	color: #e1e6d8;
}

/* Forum list column styles */
ul.topiclist dd.searchextra {
	color: #CCCCCC;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #bdbdbd;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #CCCCCC;
}

.content h2, .panel h2 {
	color: #cce59a;
	border-bottom-color:  #4f4f4f;
}

dl.faq dt {
	color: #e0e0e0;
	font-weight:bold;
}

.posthilit {
	background-color: transparent;
	color: #e0e0e0;
}

/* Post signature */
.signature {
	border-top-color: #4f4f4f;
}

/* Post noticies */
.notice {
	border-top-color:  #4f4f4f;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	color: #CCCCCC;
	background-color: #222222 !important;
	background-image: url("{T_THEME_PATH}/images/quote.png");
	background-position: 5px 3px;
	border-left: 4px solid #404040;
	border-bottom: 1px solid #404040;
}

.rtl blockquote {
background-image: url("{T_THEME_PATH}/images/quote_rtl.png");
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #262626 !important;
	border-left: 4px solid #444444;
	border-bottom: 1px solid #444444;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #262626 !important;
	border-left: 4px solid #484848;
	border-bottom: 1px solid #484848;
}

/* Code block */
dl.codebox {
	background-color: transparent;
/*	border: transparent; */
}

dl.codebox dt {
	border-bottom-color:  #4f4f4f;
}

dl.codebox code {
	color: #CCCCCC;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #FFFFFF;
	border-color:  #C9D2D8;
}

.pm-message .attachbox {
	background-color: transparent;
}

.attachbox dd {
	border-top-color: #C9D2D8;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #474747;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #CCCCCC;
}

fieldset.polls dd div {
	color: #E6E6E6;
}

/* .rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
} */

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #b8b8b8;
	border-right-color: #414141;
}

.rtl .postprofile {
	border-right-color: #414141;
/*	border-left-color: transparent; */
}

.pm .postprofile {
	border-right-color: #414141;
}

.rtl .pm .postprofile {
	border-right-color: #414141;
/*	border-left-color: transparent; */
}

.postprofile strong {
	color: #bdbdbd;
}

/*.online {
	background-image: url("{IMG_ICON_USER_ONLINE_SRC}");
} */

.online {
   background-image: none;
}

.online .postprofile {
	border-left: solid 3px #85c800;
}

.offline .postprofile {
	border-left: solid 3px #474747;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

/* Big button images */
.reply-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_REPLY_SRC}"); }
.post-icon span		{ background-image: url("{IMG_BUTTON_TOPIC_NEW_SRC}"); }
.locked-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_LOCKED_SRC}"); }
.pmreply-icon span	{ background-image: url("{IMG_BUTTON_PM_REPLY_SRC}") ;}
.newpm-icon span 	{ background-image: url("{IMG_BUTTON_PM_NEW_SRC}") ;}
.forwardpm-icon span	{ background-image: url("{IMG_BUTTON_PM_FORWARD_SRC}") ;}

a.print {
	background-image: url("{T_THEME_PATH}/images/icon_print.gif");
}

a.sendemail {
	background-image: url("{T_THEME_PATH}/images/icon_sendemail.gif");
}

a.fontsize {
	background-image: url("{T_THEME_PATH}/images/icon_fontsize.gif");
}

/* Icon images
---------------------------------------- */
.sitehome						{ background-image: url("{T_THEME_PATH}/images/icon_home.gif"); }
.icon-faq						{ background-image: url("{T_THEME_PATH}/images/icon_faq.gif"); }
.icon-calendar					{ background-image: url("{T_THEME_PATH}/images/icon_calendar.gif"); }
.icon-members					{ background-image: url("{T_THEME_PATH}/images/icon_members.gif"); }
.icon-home						{ background-image: url("{T_THEME_PATH}/images/icon_home.gif"); }
.icon-ucp						{ background-image: url("{T_THEME_PATH}/images/icon_ucp.gif"); }
.icon-register					{ background-image: url("{T_THEME_PATH}/images/icon_register.gif"); }
.icon-logout					{ background-image: url("{T_THEME_PATH}/images/icon_logout.gif"); }
.icon-bookmark					{ background-image: url("{T_THEME_PATH}/images/icon_bookmark.gif"); }
.icon-bump						{ background-image: url("{T_THEME_PATH}/images/icon_bump.gif"); }
.icon-subscribe					{ background-image: url("{T_THEME_PATH}/images/icon_subscribe.gif"); }
.icon-unsubscribe				{ background-image: url("{T_THEME_PATH}/images/icon_unsubscribe.gif"); }
.icon-pages						{ background-image: url("{T_THEME_PATH}/images/icon_pages.gif"); }
.icon-search					{ background-image: url("{T_THEME_PATH}/images/icon_search.gif"); }

/* Profile & navigation icons */
.email-icon, .email-icon a		{ background-image: url("{IMG_ICON_CONTACT_EMAIL_SRC}"); }
.aim-icon, .aim-icon a			{ background-image: url("{IMG_ICON_CONTACT_AIM_SRC}"); }
.yahoo-icon, .yahoo-icon a		{ background-image: url("{IMG_ICON_CONTACT_YAHOO_SRC}"); }
.web-icon, .web-icon a			{ background-image: url("{IMG_ICON_CONTACT_WWW_SRC}"); }
.msnm-icon, .msnm-icon a			{ background-image: url("{IMG_ICON_CONTACT_MSNM_SRC}"); }
.icq-icon, .icq-icon a			{ background-image: url("{IMG_ICON_CONTACT_ICQ_SRC}"); }
.jabber-icon, .jabber-icon a		{ background-image: url("{IMG_ICON_CONTACT_JABBER_SRC}"); }
.pm-icon, .pm-icon a				{ background-image: url("{IMG_ICON_CONTACT_PM_SRC}"); }
.quote-icon, .quote-icon a		{ background-image: url("{IMG_ICON_POST_QUOTE_SRC}"); }

/* Moderator icons */
.report-icon, .report-icon a		{ background-image: url("{IMG_ICON_POST_REPORT_SRC}"); }
.edit-icon, .edit-icon a			{ background-image: url("{IMG_ICON_POST_EDIT_SRC}"); }
.delete-icon, .delete-icon a		{ background-image: url("{IMG_ICON_POST_DELETE_SRC}"); }
.info-icon, .info-icon a			{ background-image: url("{IMG_ICON_POST_INFO_SRC}"); }
.warn-icon, .warn-icon a			{ background-image: url("{IMG_ICON_USER_WARN_SRC}"); } /* Need updated warn icon */

/*  	
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

#cp-main h3, #cp-main hr, #cp-menu hr {
	border-color: #4f4f4f;
}

#cp-main .panel li.row {
	border-bottom-color: #4f4f4f;
	border-top-color: transparent;
}

ul.cplist {
	border-top-color: #4f4f4f;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	color: #CCCCCC;
}

#cp-main table.table1 thead th {
	color: #c2c2c2;
	border-bottom-color: #4f4f4f;
}

#cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: transparent;
}

/* CP tabbed menu
----------------------------------------*/
#tabs a {
	background-image: url("{T_THEME_PATH}/images/bg_tabs1.gif");
}

#tabs a span {
	background-image: url("{T_THEME_PATH}/images/bg_tabs2.gif");
	color: #bdbdbd;
}

#tabs a:hover span {
	color: #a4d640;
}

#tabs .activetab a {
/*	border-bottom-color: #85c800; */
	border-bottom: none;
}

#tabs .activetab a span {
	color: #85c800;
}

#tabs .activetab a:hover span {
	color: #a4d640;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs li {
	background-color: #2b2b2b;
}

#minitabs li.activetab {
	background-color: #262626;
}

#minitabs li.activetab a, #minitabs li.activetab a:hover {
	color: #c2c2c2;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
#navigation a {
	color: #CCCCCC;
	background-color: transparent;
	background-image: none;
	border-left-color: #474747;
}

.rtl #navigation a {
	background-image: none;
	background-position: 0 100%;
}

#navigation a:hover {
	background-image: none;
	background-color: transparent;
	color: #a4d640;
	border-left-color: #85c800;
}

#navigation #active-subsection a {
	color: #DEE6CF;
	background-color: transparent;
	background-image: none;
	border-left-color: 2px solid #85c800;
}

#navigation #active-subsection a:hover {
	background-color: transparent;
	color: #a4d640;
}

/* Preferences pane layout
----------------------------------------*/
#cp-main h2 {
	color: #c2c2c2;
}

#cp-main .panel {
	background-color: #262626;
}

#cp-main .pm {
	background-color: transparent;
}

#cp-main span.corners-top, #cp-menu span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left2.png");
}

#cp-main span.corners-top span, #cp-menu span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.png");
}

#cp-main span.corners-bottom, #cp-menu span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left2.png");
}

#cp-main span.corners-bottom span, #cp-menu span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.png");
}

/* Topicreview */
#cp-main .panel #topicreview span.corners-top, #cp-menu .panel #topicreview span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

#cp-main .panel #topicreview span.corners-top span, #cp-menu .panel #topicreview span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

#cp-main .panel #topicreview span.corners-bottom, #cp-menu .panel #topicreview span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

#cp-main .panel #topicreview span.corners-bottom span, #cp-menu .panel #topicreview span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

/* Friends list */
.cp-mini {
	background-color: transparent;
	border: 2px solid #474747;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

dl.mini dt {
	color: #CCCCCC;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #CCCCCC !important;
}

/* PM panel adjustments */
.pm-panel-header,
#cp-main .pm-message-nav {
	border-bottom-color: #4f4f4f;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #ffc000;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #b6bfc2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #85c800;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #262626;
}

/* Avatar gallery */
#gallery label {
	background-color: #3d3d3d;
	border-color: #CCC;
}

#gallery label:hover {
	background-color: #EEE;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666;
	background-color: #222222;
	color: #D6D6D6;
}

label {
	color: #CCCCCC;
}

option.1 {
	color: #aaff00;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #CCCCCC;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #a4d640;
}

fieldset.fields1 {
	font-color: #CCCCCC !important;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #1f1f1f;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #f0f0f0;
}

/* Input field styles
---------------------------------------- */
.inputbox , .inputbox2 {
	background-color: #1f1f1f; 
	border-color: #555;
	color: #f0f0f0;
}

.inputbox:hover , .inputbox2:hover {
	border-color: #6ea900;
}

.inputbox:focus , .inputbox2:focus {
	border-color: #999;
	color: #f0f0f0;
}

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #f0f0f0;
	background-color: #2e2e2e;
	background-image: none;
}

a.button1, input.button1 {
	border-color: #555;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #555;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	color: #f0f0f0;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #aaff00;
	color: #aaff00;
}

/* Search box */
input.search {
	background-image: url("{T_THEME_PATH}/images/icon_search.gif");
	color: #BDBDBD;
}

input.search.tiny {
	background-image: url("{T_THEME_PATH}/images/icon_textbox_search.png");
	color: #BDBDBD;
}

input.search.tiny:hover {
	background-image: url("{T_THEME_PATH}/images/icon_textbox_search_hover.png");
	color: #f0f0f0;
}

input.search.tiny:focus {
	background-image: url("{T_THEME_PATH}/images/icon_textbox_search.png");
	color: #f0f0f0;
}

input.disabled {
	color: #808080;
}

/* New PM notification box */
.pm_alert {
	background-color: #262626;
	border-color: #4f4f4f;
}

.pm_alert h3 {
	color: #ebebeb;
	border-bottom-color: #4f4f4f;
}

div.informer_event {
    padding: 10px 0 0;
}

span.event_cta {
    color: #ff3300;
}

span.event_ops {
    color: #ff9900;
}

span.event_roaming {
    color: #33ff00;
}

span.event_mining {
    color: #9999ff;
}

span.reimbursement {
    font-weight: bold;
    font-size: 12px;
}

span.reimbursement-none {
    color: #ff3300;
}

span.reimbursement-basic {
    color: #33ff00;
}
