/**
*
* @package	Reputation System
* @author	Pico88 (https://github.com/Pico88)
* @copyright (c) 2012
* @license http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

/* Highlight class - can be modified as you wish*/
.highlight {
	background-color: #d4f0cc !important;
}

ul.post-reputation {
	float: right;
	width: auto;
    padding-bottom: 5px;
	list-style: none;
}

ul.post-reputation li {
	float: left;
	margin-right: 3px;
	background-position: 0 100%;
}

ul.post-reputation li a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
}

ul.post-reputation li span { display:none; }
ul.post-reputation li a:hover { background: none; }

ul.post-reputation li.rate-good-icon { width: {IMG_ICON_RATE_GOOD_WIDTH}px; height: {IMG_ICON_RATE_GOOD_HEIGHT}px; }
ul.post-reputation li.rate-bad-icon { width: {IMG_ICON_RATE_BAD_WIDTH}px; height: {IMG_ICON_RATE_BAD_HEIGHT}px; }

ul.post-reputation li.rate-good-icon a { background-image: url("{IMG_ICON_RATE_GOOD_SRC}"); }
ul.post-reputation li.rate-bad-icon a { background-image: url("{IMG_ICON_RATE_BAD_SRC}"); }

ul.post-reputation li.rate-good-icon a:hover,
ul.post-reputation li.rate-bad-icon a:hover { background-position: center bottom }

.reputation.zero a {
	color: #6E6E6E;
	text-decoration: none;
	cursor: pointer;
}

.reputation.positive a, .reputation.negative a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.reputation.positive {
	background: #6F8F52;
	color: white;
	text-align: center;
}

.reputation.negative {
	background: #B82929;
	color: white;
	text-align: center;
}

.reputation.zero {
	background: #cccccc;
	color: #6E6E6E;
	text-align: center;
}

.reputation.span {
	color: #FFF;
}

.reputation {
	font-weight: bold;
	padding: 1px 6px;
	display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	line-height: normal;
}

li.reputation {
	font-size: 14px;
}

.positive {
	color: #6F8F52;
}

.negative {
	color: #B82929;
}

.new-repo {
	color: red;
	font-weight: bold;
}

.rated_good .rate-good-icon a, .rated_bad .rate-bad-icon a {
	width: 100%;
	opacity: 0.3;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	cursor: default;
	background-position: center top !important;
}

.own .rate-good-icon a, .own .rate-bad-icon a {
	display: none;
}

.rated_good .rate-bad-icon a, .rated_bad .rate-good-icon a {
	display: none;
}

#reputation-popup {
	font-size: 0.9em;
	z-index: 500;
	display: none;
	background: #161616;
	box-shadow: 2px 2px 4px #cccccc;
	border-radius: 11px;
	padding: 0px;
	border: 2px solid #161616;
}

#reputation-popup div.error {
	text-align: center;
	font-size: 1.2em;
}

/* Fix - do not show white space at the bottom of reputation popup */
#reputation-popup div.panel {
	margin-bottom: 0px;
}

#reputation-popup h3 {
	font-size: 1.4em;
	padding-left: 10px;
	text-transform: none;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	margin: 0;
	border: none;
}

#reputation-popup p {
	padding: 0 10px;
}

#post-reputation-list {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#user-reputation-list {
	float: right;
	width: 58%;
}

.small-popup {
	position: absolute;
	width: 300px;
}

.normal-popup {
	position: fixed;
	width: 570px;
}

.normal-popup #post-reputation-list {
	max-height: 350px;
	overflow: auto;
}

.new-popup {
	position: fixed;
	width: 400px;
	height: 115px;
	text-align: center;
	position: fixed !important;
}

.footer-popup {
	padding: 2px 10px 0 10px;
}
.vote_status_positive, .vote_status_negative {
	text-align: center;
	font-size: 120%;
}

.vote_status_positive {
	background: #d4f0cc;
}

.vote_status_negative {
	background: #ffe6e6;
}

.hidden  .postbody, .hidden .postprofile {
	display: none;
}

div.online.hidden {
	background-image: none;
}

.progress-bar {
	width: 100%;
	height: 10px;
	border-radius: 3px;
	border: 1px solid #a4bdcb;
	background: #a4bdcb;
	background: -moz-linear-gradient(left,  #dc4a5b 0%, #ffb489 8%, #fcfaba 18%, #54d077 70%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#dc4a5b), color-stop(8%,#ffb489), color-stop(18%,#fcfaba), color-stop(70%,#54d077));
	background: -webkit-linear-gradient(left,  #dc4a5b 0%,#ffb489 8%,#fcfaba 18%,#54d077 70%);
	background: -o-linear-gradient(left,  #dc4a5b 0%,#ffb489 8%,#fcfaba 18%,#54d077 70%);
	background: -ms-linear-gradient(left,  #dc4a5b 0%,#ffb489 8%,#fcfaba 18%,#54d077 70%);
	background: linear-gradient(to right,  #dc4a5b 0%,#ffb489 8%,#fcfaba 18%,#54d077 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc4a5b', endColorstr='#54d077',GradientType=1 );
}

.empty-progress {
	background: white;
	height: 10px;
	float: right;
}

.reputation-list {
	border: 1px #dadada solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	margin: 5px;
	padding: 6px;
	overflow: hidden;
}

.empty {
	text-align: center;
}

.reputation-detail {
	padding-left: 5px;
}

.reputation-avatar {
	float: left;
	padding: 2px;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #D5D5D5;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.reputation-avatar  img{
	display: block !important;
}

.reputation-rating {
	display: block;
	float: right;
	font-weight: bold;
	font-size: 1.4em;
	padding-right: 10px;
}

.comment_message {
	border: 1px #dadada solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: block;
	margin: 5px;
	background-color: cccccc;
	padding: 5px;
	overflow: hidden;
}

.reputation-delete {
	background-image: url("{T_THEME_PATH}/images/reputation_delete.png");
	background-repeat: no-repeat;
	font-size: 0px;
	width: 16px;
	height: 16px;
	padding: 0;
	float: right;
	opacity: 0.3;
}

.reputation-delete:hover {
	opacity: 1.0;
}

#post-reputation-list::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

#post-reputation-list::-webkit-scrollbar-button:start:decrement,
#post-reputation-list::-webkit-scrollbar-button:end:increment  {
	height: 5px;
	display: block;
	background-color: transparent;
}

#post-reputation-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
 
#post-reputation-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

a.reputation-top {
    padding: 15px 0 0 10px;
    background: url("{IMG_ICON_BACK_TOP_SRC}") no-repeat 0 0; ;
}
