/*
    Layout for posts
*/

.post, .panel {
    margin-bottom: 4px;
    padding: 4px;
}
#preview {
    margin-top: 4px;
}
.post > div.inner, .panel > div.inner, .old-ie .post div.inner, .old-ie .panel div.inner-panel {
    padding: 5px 10px;
}

.online .inner { background: url("{IMG_ICON_USER_ONLINE_SRC}") 100% 0 no-repeat; }

.postbody {
	padding: 0;
	line-height: 1.48em;
	width: 76%;
	float: right;
	clear: both;
	word-wrap: break-word;
}

.postbody .ignore {
}

.postbody h3.first, .postbody h3.first a {
	/* The first post on the page uses this */
    color: #cb296a !important;
}

.postbody h3 {
	/* Postbody requires a different h3 format - so change it here */
	padding: 2px 0 0 0;
	margin: 0 0 2px 0 !important;
	text-transform: none;
	border: none;
	line-height: 125%;
	font-weight: normal;
	font-size: 16px;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
.postbody h3, .postbody h3 a, .postbody h3 a:visited { color: #3083aa; }
.postbody h3 a:hover { color: #cb296a; }

.postbody h3 img {
	/* Also see tweaks.css */
	vertical-align: bottom;
}

.postbody .content {
	font-size: 12px;
}

.search .postbody {
	width: 68%
}

.content {
	min-height: 3em;
	overflow: hidden;
	line-height: 1.4em;
	padding-bottom: 1px;
}

.content h2, .panel h2, .panel > div > h3, .panel .content > h3 {
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
	font-weight: normal;
	margin: 4px 0;
	padding: 0;
	font-size: 16px;
	color: #3083aa;
}

.postbody > .notice {
    clear: left;
    margin-top: 10px;
    font-size: 11px;
    font-style: italic;
}

/* Poster profile icons
----------------------------------------*/
.post ul.profile-icons li {
    opacity: 0;
    transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
}
.post:hover ul.profile-icons li {
    opacity: 1;
}

ul.profile-icons {
	padding-top: 10px;
	list-style: none;
}

/* Rollover state */
ul.profile-icons li {
	float: left;
	margin: 0 2px 3px 0;
	background-position: 0 100%;
}

/* Rolloff state */
ul.profile-icons li a {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
	background-position: 0 0;
	opacity: 1;
    transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
ul.profile-icons li span { 
    display: none; 
}
ul.profile-icons li a:hover { 
    opacity: 0;
}

/* Positioning of moderator icons */
.postbody ul.profile-icons {
	float: right;
	width: auto;
	padding: 0;
	padding-bottom: 5px;
}

.postbody ul.profile-icons li {
	margin: 0 3px;
}


/* Profile & navigation icons */
.email-icon, .email-icon a		{ background: url("{IMG_ICON_CONTACT_EMAIL_SRC}") top left no-repeat; }
.aim-icon, .aim-icon a			{ background: url("{IMG_ICON_CONTACT_AIM_SRC}") top left no-repeat; }
.yahoo-icon, .yahoo-icon a		{ background: url("{IMG_ICON_CONTACT_YAHOO_SRC}") top left no-repeat; }
.web-icon, .web-icon a			{ background: url("{IMG_ICON_CONTACT_WWW_SRC}") top left no-repeat; }
.msnm-icon, .msnm-icon a			{ background: url("{IMG_ICON_CONTACT_MSNM_SRC}") top left no-repeat; }
.icq-icon, .icq-icon a			{ background: url("{IMG_ICON_CONTACT_ICQ_SRC}") top left no-repeat; }
.jabber-icon, .jabber-icon a		{ background: url("{IMG_ICON_CONTACT_JABBER_SRC}") top left no-repeat; }
.pm-icon, .pm-icon a				{ background: url("{IMG_ICON_CONTACT_PM_SRC}") top left no-repeat; }
.quote-icon, .quote-icon a		{ background: url("{IMG_ICON_POST_QUOTE_SRC}") top left no-repeat; }

/* Moderator icons */
.report-icon, .report-icon a		{ background: url("{IMG_ICON_POST_REPORT_SRC}") top left no-repeat; }
.warn-icon, .warn-icon a			{ background: url("{IMG_ICON_USER_WARN_SRC}") top left no-repeat; }
.edit-icon, .edit-icon a			{ background: url("{IMG_ICON_POST_EDIT_SRC}") top left no-repeat; }
.delete-icon, .delete-icon a		{ background: url("{IMG_ICON_POST_DELETE_SRC}") top left no-repeat; }
.info-icon, .info-icon a			{ background: url("{IMG_ICON_POST_INFO_SRC}") top left no-repeat; }

/* Set profile icon dimensions */
ul.profile-icons li.email-icon		{ width: {IMG_ICON_CONTACT_EMAIL_WIDTH}px; height: {IMG_ICON_CONTACT_EMAIL_HEIGHT}px; }
ul.profile-icons li.aim-icon	{ width: {IMG_ICON_CONTACT_AIM_WIDTH}px; height: {IMG_ICON_CONTACT_AIM_HEIGHT}px; }
ul.profile-icons li.yahoo-icon	{ width: {IMG_ICON_CONTACT_YAHOO_WIDTH}px; height: {IMG_ICON_CONTACT_YAHOO_HEIGHT}px; }
ul.profile-icons li.web-icon	{ width: {IMG_ICON_CONTACT_WWW_WIDTH}px; height: {IMG_ICON_CONTACT_WWW_HEIGHT}px; }
ul.profile-icons li.msnm-icon	{ width: {IMG_ICON_CONTACT_MSNM_WIDTH}px; height: {IMG_ICON_CONTACT_MSNM_HEIGHT}px; }
ul.profile-icons li.icq-icon	{ width: {IMG_ICON_CONTACT_ICQ_WIDTH}px; height: {IMG_ICON_CONTACT_ICQ_HEIGHT}px; }
ul.profile-icons li.jabber-icon	{ width: {IMG_ICON_CONTACT_JABBER_WIDTH}px; height: {IMG_ICON_CONTACT_JABBER_HEIGHT}px; }
ul.profile-icons li.pm-icon		{ width: {IMG_ICON_CONTACT_PM_WIDTH}px; height: {IMG_ICON_CONTACT_PM_HEIGHT}px; }
ul.profile-icons li.quote-icon	{ width: {IMG_ICON_POST_QUOTE_WIDTH}px; height: {IMG_ICON_POST_QUOTE_HEIGHT}px; }
ul.profile-icons li.report-icon	{ width: {IMG_ICON_POST_REPORT_WIDTH}px; height: {IMG_ICON_POST_REPORT_HEIGHT}px; }
ul.profile-icons li.edit-icon	{ width: {IMG_ICON_POST_EDIT_WIDTH}px; height: {IMG_ICON_POST_EDIT_HEIGHT}px; }
ul.profile-icons li.delete-icon	{ width: {IMG_ICON_POST_DELETE_WIDTH}px; height: {IMG_ICON_POST_DELETE_HEIGHT}px; }
ul.profile-icons li.info-icon	{ width: {IMG_ICON_POST_INFO_WIDTH}px; height: {IMG_ICON_POST_INFO_HEIGHT}px; }
ul.profile-icons li.warn-icon	{ width: {IMG_ICON_USER_WARN_WIDTH}px; height: {IMG_ICON_USER_WARN_HEIGHT}px; }

/* Fix profile icon default margins */
/* ul.profile-icons li.edit-icon	{ margin: 0 0 0 3px; }
ul.profile-icons li.quote-icon	{ margin: 0 0 0 10px; }
ul.profile-icons li.info-icon, ul.profile-icons li.report-icon	{ margin: 0 3px 0 0; } */

/* Post author */
p.author {
	margin: 0;
	padding: 0 0 5px;
	font-size: 11px;
	line-height: 1.2em;
	color: #999;
}
p.author img { margin-right: 4px; }
p.author strong { font-weight: normal; }

/* Post signature */
.signature {
	margin-top: 1.5em;
	padding-top: 0.2em;
	font-size: 11px;
	color: #888;
	border-top: 1px solid #ddd;
	clear: left;
	line-height: 140%;
	overflow: hidden;
	width: 100%;
}

dd .signature {
	margin: 0;
	padding: 0;
	clear: none;
	border: none;
}

.signature li {
	list-style-type: inherit;
}

.signature ul, .signature ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	margin: 2px 0 10px 0;
	min-height: 80px;
	color: #999;
	border-left: 1px solid #ddd;
	width: 22%;
	float: left;
	word-wrap: break-word;
}
.pm .postprofile {
	border-left: 1px solid #ddd;
}

.postprofile dd, .postprofile dt {
	line-height: 1.2em;
	margin-left: 8px;
	font-size: 11px;
}
.postprofile dt {
    font-size: 14px;
    line-height: 1.4em;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

.postprofile strong {
	font-weight: normal;
	color: #3083aa;
}

.avatar {
	border: none;
	margin-bottom: 3px;
}

/* Poster profile used by search*/
.search .postprofile {
	width: 30%;
}

/* pm list in compose message if mass pm is enabled */
dl.pmlist dt {
	width: 60% !important;
}

dl.pmlist dt textarea {
	width: 95%;
}

dl.pmlist dd {
	margin-left: 61% !important;
	margin-bottom: 2px;
}

/* Post poll styles
----------------------------------------*/
fieldset.polls dl {
	margin-top: 5px;
	border-top: 1px solid #ddd;
	padding: 5px 0 0 0;
	line-height: 120%;
}

fieldset.polls dl.voted {
	color: #cb296a;
}

fieldset.polls dt {
	text-align: left;
	float: left;
	display: block;
	width: 30%;
	border-right: none;
	padding: 0;
	margin: 0;
	font-size: 1.1em;
}

fieldset.polls dd {
	float: left;
	width: 10%;
	border-left: none;
	padding: 0 5px;
	margin-left: 0;
	font-size: 1.1em;
}

fieldset.polls dd.resultbar {
	width: 50%;
}

fieldset.polls dd input {
	margin: 2px 0;
}

fieldset.polls dd div {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255, 255, 255, 0.8);
	font-weight: normal;
	padding: 0 3px;
	overflow: visible;
	min-width: 12px;
	background: #3083aa url({T_THEME_PATH}/images/poll.png) 0 0 repeat-x;
	border: solid 0px transparent;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-top-color: #eee;
}
.old-ie fieldset.polls dd div {
	color: #fff;
}

fieldset.polls dd div.pollbar2 { background-position: 0 -25px; }
fieldset.polls dd div.pollbar3 { background-position: 0 -50px; }
fieldset.polls dd div.pollbar4 { background-position: 0 -75px; }
fieldset.polls dd div.pollbar5 { background-position: 0 -100px; }
fieldset.polls dl.voted dd div { background-position: 0 -125px; }


/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background: rgba(255, 255, 255, 0.3) url({T_THEME_PATH}/images/bb_quote.gif) 5px 8px no-repeat;
	border: 1px solid #ddd;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 12px;
	margin: 0.5em 1px 0 25px;
	overflow: hidden;
	padding: 5px;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #f7f7f7;
	font-size: 1em;
	margin: 0.5em 1px 0 15px;	
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #e4e4e4;
}

blockquote cite {
	/* Username/source of quoter */
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;
	display: block;
	font-size: 11px;
	color: #999;
}

blockquote.uncited {
	padding-top: 25px;
}

/* Code block */
dl.codebox {
	padding: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #ddd;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 0.5em 1px 0 25px;
	font-size: 1em;
}

dl.codebox dt {
	margin-bottom: 3px;
	padding-left: 2px;
	font-size: 11px;
	font-weight: normal;
	display: block;
	color: #999;
}

blockquote dl.codebox {
	margin-left: 0;
}

dl.codebox code {
	/* Also see tweaks.css */
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	padding-top: 5px;
	font: 0.9em Monaco, "Andale Mono","Courier New", Courier, mono;
	line-height: 1.3em;
	color: #666;
	margin: 2px 0;
}

.syntaxbg		{ color: #f7f7f7; }
.syntaxcomment	{ color: #888; }
.syntaxdefault	{ color: #444; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #585858; }
.syntaxstring	{ color: #a7a7a7; }

/* Attachments
----------------------------------------*/
.attachbox {
	float: left;
	width: auto; 
	margin: 5px 5px 5px 0;
	padding: 6px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px dashed #ddd;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	clear: right;
	max-width: 98%;
	max-width: calc(100% - 14px);
	max-width: -moz-calc(100% - 14px);
}

.attachbox dt {
	color: #999;
	font-size: 11px;
}

.attachbox dd {
	margin-top: 4px;
	padding-top: 4px;
	clear: left;
	border-top: 1px solid #ddd;
}

.attachbox dd dd {
	border: none;
}

.attachbox p {
	line-height: 110%;
	font-weight: normal;
	clear: left;
}

.attachbox p.stats
{
	line-height: 110%;
	font-weight: normal;
	clear: left;
}

.attach-image {
	margin: 3px 0;
	width: 100%;
	max-height: 350px;
	overflow: auto;
}

.attach-image img {
}

/* Inline image thumbnails */
div.inline-attachment dl.thumbnail, div.inline-attachment dl.file {
	display: block;
	margin-bottom: 4px;
}

div.inline-attachment p {
	font-size: 100%;
}

dl.file {
	display: block;
}

dl.file dt {
	text-transform: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
}

dl.file dd {
	margin: 0;
	padding: 0;	
}

dl.thumbnail img {
	padding: 3px;
	border: 1px solid #ccc;
}

dl.thumbnail dd {
	font-style: italic;
}

.attachbox dl.thumbnail dd {
	font-size: 100%;
}

dl.thumbnail dt a:hover {
}

dl.thumbnail dt a:hover img {
	border: 1px solid #aaa;
}

/*
    Reported / unapproved
*/
p.rules {
    background: rgba(255, 255, 255, 0.3);
    border: solid 2px #efd7e0;
    border-color: rgba(203, 41, 106, 0.2);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	padding: 6px;
	margin: 5px 10px;
	font-size: 12px;
	line-height: 1.4em;
}
.old-ie p.rules {
    background: #f4e9ee;
}
p.rules:hover {
    border-color: rgba(203, 41, 106, 0.5);
}

p.rules img {
	vertical-align: middle;
	padding-top: 2px;
}
p.rules strong { font-weight: normal; }

p.rules a {
	vertical-align: middle;
	clear: both;
}

/*
    Lists bbcode
*/
.content ul, .content ol {
    margin-bottom: 1em;
    margin-left: 3em;
}
.content li {
    list-style-type: inherit;
}

/*
    Post highlight
*/
.posthilit { color: #cb296a; }

