/*
    Custom font
*/
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('{T_THEME_PATH}/DroidSans.woff') format('woff');
}

/*
    Main stuff
*/
* { margin: 0; padding: 0; }
html {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
body {
    margin: 0 auto;
    padding: 0;
    position: relative;
    min-height: 100%;
    font-family: Verdana;
    line-height: 1.2em;
    font-size: 12px;
    color: #000;
    text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 1px;
}
body.simple { 
    width: auto; 
    margin: 0;
    padding: 8px;
}
html, body.simple {
    background-color: #eee;
}

a, a:visited {
    color: #3083aa;
    text-decoration: none;
    transition: color 0.25s ease;
    -webkit-transition: color 0.25s ease;
    -moz-transition: color 0.25s ease;
    -o-transition: color 0.25s ease;
    -ms-transition: color 0.25s ease;
}
a:hover { color: #cb296a; }
a:active { 
    color: #cc8b29; 
    transform: translate(0, 1px);
    -moz-transform: translate(0, 1px);
    -webkit-transform: translate(0, 1px);
    -o-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
}
.buttons a:active, .profile-icons a:active, div.dropdown-tabs a:active {
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
}

img { border-width: 0; }

/*
    Rounded blocks, transitions
*/
div.rules, div.post, .panel, .cp-mini, ul.topiclist li {
    background: url({T_THEME_PATH}/images/hdr2_br.gif) bottom right no-repeat, url({T_THEME_PATH}/images/hdr2_bl.gif) bottom left no-repeat, url({T_THEME_PATH}/images/hdr2_tr.gif) top right no-repeat, url({T_THEME_PATH}/images/hdr2_tl.gif) 0 0 no-repeat, url({T_THEME_PATH}/images/hdr2_r.gif) top right repeat-y, url({T_THEME_PATH}/images/hdr2_l.gif) top left repeat-y, url({T_THEME_PATH}/images/hdr2_b.gif) bottom left repeat-x, #f4f4f4 url({T_THEME_PATH}/images/hdr2_t.gif) 0 0 repeat-x;
}
.old-ie div.old-ie-wrap-2, .old-ie .old-ie-wrap-2, .old-ie ul.topiclist li {
    padding: 0 !important;
    background: #f4f4f4 url({T_THEME_PATH}/images/hdr2_t.gif) 0 0 repeat-x;
}
.old-ie .hdr2-1 {
    margin: 0;
    padding: 0;
    background: url({T_THEME_PATH}/images/hdr2_b.gif) bottom left repeat-x;
}
.old-ie .hdr2-2 {
    margin: 0;
    padding: 0;
    background: url({T_THEME_PATH}/images/hdr2_l.gif) top left repeat-y;
}
.old-ie .hdr2-3 {
    margin: 0;
    padding: 0;
    background: url({T_THEME_PATH}/images/hdr2_r.gif) top right repeat-y;
}
.old-ie .hdr2-4 {
    margin: 0;
    padding: 0;
    background: url({T_THEME_PATH}/images/hdr2_tl.gif) 0 0 no-repeat;
}
.old-ie .hdr2-5 {
    margin: 0;
    padding: 0;
    background: url({T_THEME_PATH}/images/hdr2_tr.gif) top right no-repeat;
}
.old-ie .hdr2-6 {
    margin: 0;
    padding: 0;
    background: url({T_THEME_PATH}/images/hdr2_bl.gif) bottom left no-repeat;
}
.old-ie .hdr2-last {
    margin: 0;
    padding: 5px;
    background: url({T_THEME_PATH}/images/hdr2_br.gif) bottom right no-repeat;
}
div.forabg, div.forumbg, div.panel-wrapper {
    background: url({T_THEME_PATH}/images/hdr1_br.gif) bottom right no-repeat, url({T_THEME_PATH}/images/hdr1_bl.gif) bottom left no-repeat, url({T_THEME_PATH}/images/hdr1_tr.gif) top right no-repeat, url({T_THEME_PATH}/images/hdr1_tl.gif) top left no-repeat, url({T_THEME_PATH}/images/hdr1_b.gif) bottom left repeat-x, url({T_THEME_PATH}/images/hdr1_t.gif) top left repeat-x;
    padding: 6px;
}
.old-ie div.old-ie-wrap-1 {
    padding: 0;
    background: url({T_THEME_PATH}/images/hdr1_t.gif) top left repeat-x;
}
.old-ie .hdr1-1 {
    margin: 0;
    padding: 0;
    background: url({T_THEME_PATH}/images/hdr1_b.gif) bottom left repeat-x;
}
.old-ie .hdr1-2 {
    margin: 0;
    padding: 0;
    background: url({T_THEME_PATH}/images/hdr1_tl.gif) top left no-repeat;
}
.old-ie .hdr1-3 {
    margin: 0;
    padding: 0;
    background: url({T_THEME_PATH}/images/hdr1_tr.gif) top right no-repeat;
}
.old-ie .hdr1-4 {
    margin: 0;
    padding: 0;
    background: url({T_THEME_PATH}/images/hdr1_bl.gif) bottom left no-repeat;
}
.old-ie .hdr1-5 {
    margin: 0;
    padding: 6px;
    background: url({T_THEME_PATH}/images/hdr1_br.gif) bottom right no-repeat;
}

.corners-top, .corners-bottom { display: none; }

img, .topic-actions, .profile-icons {
    opacity: 0;
}
img, .topic-actions, .profile-icons, div.rules, div.forabg, div.forumbg, div.post, .panel, .cp-mini {
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
}
body.transform img, body.transform .topic-actions, body.transform .profile-icons { opacity: 1; }

/* 
    Arrow links  
*/
a.up		{ background: url({T_THEME_PATH}/images/arrow_up.gif) no-repeat left center; }
a.down		{ background: url({T_THEME_PATH}/images/arrow_down.gif) no-repeat right center; }
a.left		{ background: url({T_THEME_PATH}/images/arrow_left.gif) no-repeat 3px 60%; }
a.right		{ background: url({T_THEME_PATH}/images/arrow_right.gif)  no-repeat 95% 60%; }

a.up, a.up:link, a.up:active, a.up:visited {
	padding-left: 10px;
	text-decoration: none;
	border-bottom-width: 0;
}

a.up:hover {
	background-position: left top;
	background-color: transparent;
}

a.down, a.down:link, a.down:active, a.down:visited {
	padding-right: 10px;
}

a.down:hover {
	background-position: right bottom;
	text-decoration: none;
}

a.left, a.left:active, a.left:visited {
	padding-left: 12px;
}

a.left:hover {
	text-decoration: none;
	background-position: 0 60%;
}

a.right, a.right:active, a.right:visited {
	padding-right: 12px;
}

a.right:hover {
	text-decoration: none;
	background-position: 100% 60%;
}

.back2top {
	clear: both;
	height: 11px;
	text-align: right;
}

a.top {
	background: url("{IMG_ICON_BACK_TOP_SRC}") no-repeat top left;
	text-decoration: none;
	width: {IMG_ICON_BACK_TOP_WIDTH}px;
	height: {IMG_ICON_BACK_TOP_HEIGHT}px;
	display: block;
	float: right;
	overflow: hidden;
	letter-spacing: 1000px;
	text-indent: 11px;
}

a.top2 {
	background: url("{IMG_ICON_BACK_TOP_SRC}") no-repeat 0 center;
	text-decoration: none;
	padding-left: 14px;
	line-height: 1em;
	margin: 4px 0;
	display: inline-block;
}

a.up, a.down, a.left, a.right, a.top, a.top2, .nav-links {
    transition-property: color, background-position;
    -webkit-transition-property: color, background-position;
    -moz-transition-property: color, background-position;
    -o-transition-property: color, background-position;
    -ms-transition-property: color, background-position;
    transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
}


/*
    Misc stuff
*/
.clear { clear: both; }

.rightside, .right-box { 
    text-align: right;
}

.left-box {
    float: left;
    text-align: left;
    width: auto;
}

p.rightside, li.rightside, ul.rightside, ul.linklist li.rightside, .right-box { 
    float: right; 
    margin-left: 5px;
    margin-right: 0;
}

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

hr {
    background-color: none;
    border: solid 1px transparent;
    border-bottom-color: #ddd;
    border-top-color: #fafafa;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

hr.dashed {
	border-top-style: dashed;
	border-bottom-style: dashed;
}

.clearfix, #tabs, #minitabs, fieldset dl, ul.topiclist dl, dl.polls {
    min-height: 1px;
    overflow: hidden;
}
span.corners-bottom { 
    display: block; 
    clear: both;
}

dl.details {
	font-size: 12px;
}

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	color: #444;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	color: #000;
	float: left;
	width: 65%;
}

/*
    Main blocks without rounded container
*/
#page-body > h2, #page-body > form > h2, #page-body > h3, #page-body > form > h3, div#message h2, #confirm h2, #agreement h2 {
    font-size: 20px;
    font-weight: normal;
    text-shadow: #ddd 2px 3px 1px;
    margin: 20px 2px 10px;
}
#page-body > h2, #page-body > form > h2, #page-body > h3, #page-body > form > h3, div#message h2, #confirm h2, #agreement h2, 
#page-body h2.title a, #page-body h2.title a:visited { color: #cb296a; }
#page-body h2.title a:hover { color: #cc8b29; }

/*
    Forms
*/
fieldset {
    margin: 0;
    padding: 0;
    border-width: 0;
}
fieldset.display-options { 
    margin: 5px 0;
    text-align: center; 
}

/*
    Errors
*/
.error {
	color: #cb296a;
	font-weight: bold;
	font-size: 12px;
}
