/*
    Header and footer
*/
#header {
    margin: 0;
    padding: 0 8px;
    background: #4283a1 url({T_THEME_PATH}/images/top2.png) top left repeat-x;
    border-bottom: solid 1px #fff;
    text-align: center;
}

#header > a {
    padding: 0;
    line-height: 1em;
    font-size: 1px;
    text-decoration: none;
    border-width: 0;
}
#header > a > img { 
    margin: 0; 
    padding: 0;
    opacity: 1 !important;
}
#header > p, #header > h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1.4em;
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 2px 1px;
}

#header > h1 {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.85);
}
.old-ie #header > h1 {
    color: #cadce5; 
}
#header > p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}
.old-ie #header > p {
    color: #cadce5;
}

#page-header {
    background-color: #eee;
}

#nav-header {
    font-size: 12px;
    line-height: 1em;
    text-align: left;
    padding: 4px 0;
}
#nav-header a, #nav-header a:visited {
    display: inline-block;
    position: relative;
    margin: 0;
    margin-left: 16px;
    padding: 10px 14px;
    padding-left: 4px;
    height: 12px;
    line-height: 1em;
    font-size: 12px;
    color: #205d7a;
    background: url({T_THEME_PATH}/images/menu2_right.png) 100% 0 repeat-x;
    text-decoration: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}
#nav-header a:hover, #nav-header a.new {
    background-position: 100% -40px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
}
#nav-header a span {
    display: block;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 10px;
    background: url({T_THEME_PATH}/images/menu2_left.png) 0 0 no-repeat;
}
#nav-header a:hover span, #nav-header a.new span { background-position: 0 -40px; }
#nav-header strong { font-weight: normal; }


#search-box {
    float: right;
    width: 182px;
    height: 28px;
    margin-top: 4px;
    margin-right: 6px;
    background: url({T_THEME_PATH}/images/search2_icon.png) 8px 8px no-repeat, url({T_THEME_PATH}/images/search2.png) center left no-repeat;
    padding-left: 22px;
    padding-top: 4px;
}
.old-ie #search-box {
    background: url({T_THEME_PATH}/images/search2.png) center left no-repeat;
    padding-left: 10px;
    width: 194px;
}
#search-box form { 
    display: inline; 
    border-width: 0;
    margin: 0;
    padding: 0;
}
.old-ie #search-box input[type="text"] {
    margin-top: 3px;
}
#search-box input[type="text"] {
    margin: 0;
    padding: 4px 3px;
    border-width: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    height: 16px;
    width: 140px;
    line-height: 1em;
    font-size: 12px;
    color: #28769a;
    outline-style: none;
    -webkit-appearance: none;
}
#search-box input[type="text"]:hover, #search-box input[type="text"]:focus {
    color: #2d6680;
}
.browser-ie #search-box {
    padding-top: 2px;
}
.browser-ie #search-box input[type="text"] {
    height: 14px;
}

/*
    Footer
*/
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: bottom;
    line-height: 1.3em;
    margin: 0;
    padding: 8px;
    padding-bottom: 6px;
    padding-top: 30px;
    font-size: 11px;
    color: #444;
    max-height: 60px;
    overflow: hidden;
    background: #4685a3 url({T_THEME_PATH}/images/footer.png) 0 0 repeat-x;
}
#footer .copyright {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 2px 1px;
}
#footer .copyright a, #footer .copyright a:visited {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}
.old-ie #footer .copyright, .old-ie #footer .copyright a, .old-ie #footer .copyright a:visited {
    color: #eee;
}
#footer .copyright a:hover, #footer .copyright strong a {
    color: #fff;
    text-decoration: underline;
}

body.simple .copyright {
    text-align: center;
    color: #444;
    font-size: 11px;
}

.copyright .copy-left {
    float: left;
    text-align: left;
    padding-left: 8px;
}
.copyright .copy-right {
    float: right;
    text-align: right;
    padding-right: 8px;
}

/*
    Wrapper
*/
#page-body { 
    padding: 0 6px 100px;
    background: url({T_THEME_PATH}/images/content_top.png) 0 -1px repeat-x;
    border-top: solid 1px #e2e2e2;
}
body.simple #page-body { 
    padding: 0 6px; 
    background: none;
    border-top-width: 0;
}
#page-body > p, .section-index #page-body > form { margin: 6px 4px; }
#page-body > p.rightside { margin: 0; }
body.simple #page-body > h2.solo {
    margin-top: 10px;
}

.container-block {
    background: url({T_THEME_PATH}/images/content_top.png) top left repeat-x, url({T_THEME_PATH}/images/content_bottom.png) bottom left repeat-x;
}

/*
    Navigation
*/
.nav-links {
    margin: 0;
    padding: 8px 10px 8px 16px;
    text-align: left;
    color: #888;
    background: url({T_THEME_PATH}/images/nav_links.gif) 6px 51% no-repeat;
}
.nav-links:hover { background-position: 8px 51%; }
.nav-links .rightside { float: right; }
.nav-links .time { color: #444; }

.nav-extra {
    float: right;
    font-size: 11px;
    margin: 8px;
    color: #888;
}

#footer .nav-links {
    margin-bottom: 6px;
}
#page-body .nav-extra { margin-right: 6px; }

/*
    Rules
*/
div.rules {
    margin: 6px 4px;
    padding: 6px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-shadow: none;
}
div.rules .inner > strong { 
    color: #3083aa; 
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4em;
}
#information {
    text-align: center;
    padding: 20px;
}

.icon-calendar {
    background-image: url("{T_THEME_PATH}/images/icon_calendar.gif");
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 1px 0 0 17px;
}

