<ul class="linklist navlinks">
	<li class="icon-calendar">{PENDING_EVENTS}</li>
</ul>

<!-- BEGIN events -->
<a href="{events.LINK}"><span class="{events.CLASS}">{events.PREFIX}> {events.EVE_TIME} ({events.EXPIRE}) - {events.EVENT_TEXT}</span></a><br>
<!-- END events -->