<!-- INCLUDE overall_header.html -->

<!-- IF TOPIC_TITLE -->
	<h2><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a></h2>
<!-- ELSE -->
	<h2><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h2>
 <!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
	<div class="rules">
		<div class="inner"><span class="corners-top"><span></span></span>
		
		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<strong>{L_FORUM_RULES}</strong><br />
			{FORUM_RULES}
		<!-- ENDIF -->
		
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->

<form id="postform" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>

<!-- IF S_DRAFT_LOADED -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		
		<h3>{L_INFORMATION}</h3>
		<p>{L_DRAFT_LOADED}</p>
		
		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->

<!-- IF S_SHOW_DRAFTS --><!-- INCLUDE drafts.html --><!-- ENDIF -->

<!-- IF S_POST_REVIEW --><!-- INCLUDE posting_review.html --><!-- ENDIF -->

<!-- IF S_UNGLOBALISE -->
	<div class="panel bg3">
		<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset class="fields1">
			<h2>{L_SELECT_DESTINATION_FORUM}</h2>
			<p>{L_UNGLOBALISE_EXPLAIN}</p>
			<dl>
				<dt><label for="to_forum_id">{L_MOVE}:</label></dt>
				<dd><select id="to_forum_id" name="to_forum_id">{S_FORUM_SELECT}</select></dd>
			</dl>
			
			<dl>
				<dt>&nbsp;</dt>
				<dd><input class="button1" type="submit" name="post" value="{L_CONFIRM}" /> <input class="button2" type="submit" name="cancel_unglobalise" value="{L_CANCEL}" /></dd>
			</dl>
		</fieldset>

		<span class="corners-bottom"><span></span></span></div>
	</div>
<!-- ENDIF -->

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>
	
	<h3>{L_POST_A}</h3>

	<!-- DEFINE $EXTRA_POSTING_OPTIONS = 1 -->
	<!-- INCLUDE posting_editor.html -->
	{S_FORM_TOKEN}
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- IF S_SHOW_ATTACH_BOX --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->

<!-- IF S_SHOW_POLL_BOX or S_POLL_DELETE --><!-- INCLUDE posting_poll_body.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_REVIEW --><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->
<!-- IF S_MYCALENDAR --><!-- INCLUDE posting_mycalendar.html --><!-- ENDIF -->

</form>
<!-- IF not S_PRIVMSGS -->
<script type="text/javascript">
// <![CDATA[
	subPanels(show_panel);
// ]]>
</script>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
