<link rel="stylesheet" media="all" type="text/css" href="{T_THEME_PATH}/jquery-ui.css" />
<script type="text/javascript" src="{T_TEMPLATE_PATH}/jquery-ui.min.js"></script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/jquery-ui-timepicker-addon.js"></script>

<script type="text/javascript">

	$(function() {
		$( "#datepicker" ).datetimepicker({
			"dateFormat": "yy-mm-dd"
		});
		$( "#datepicker" ).val("{CAL_DATE}");
	});

</script>

<style type="text/css">
	<!--

	.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	.ui-timepicker-div dl { text-align: left; }
	.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
	.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
	.ui-timepicker-div td { font-size: 90%; }
	.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

	.ui-timepicker-rtl{ direction: rtl; }
	.ui-timepicker-rtl dl { text-align: right; }
	.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

	-->
</style>

<div class="panel bg3" id="mycalendar-panel">
	<div class="inner"><span class="corners-top"><span></span></span>

		<fieldset class="fields2">
			<dl>
				<dt><label>{L_EVENT_START}:</label></dt>
				<dd>
					<input type="text" id="datepicker" autocomplete="off" name="cal_date"/>
					<input type="button" class="button2" onClick="this.form.datepicker.value = '{CAL_NO_DATE}'; this.form.cal_date_end.value = '{NO_DATE}';" value="{L_CLEAR_DATE}" />
				</dd>
			</dl>
			<dl>
				<dt><label>{L_EVENT_TYPE}:</label></dt>
				<dd>
					<input type="radio" name="event_type" value="0"/><span class="event_cta">Red CTA</span>
					<input type="radio" name="event_type" value="1"/><span class="event_ops">OPS</span>
					<input type="radio" name="event_type" value="2" checked="checked" /><span class="event_roaming">Roaming</span>
					<input type="radio" name="event_type" value="3"/><span class="event_mining">Mining OPS</span>
				</dd>
			</dl>
			<dl>
				<dt><label>{L_EVENT_REIMBURSEMENT}:</label></dt>
				<dd>
					<input type="radio" name="event_reimbursement" value="0" checked="checked"/><span class="event_cta">None</span>
					<input type="radio" name="event_reimbursement" value="1"/><span class="event_roaming">Standard</span>
				</dd>
			</dl>
		</fieldset>
	</div>

	<span class="corners-bottom"><span></span></span></div>
</div>