<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="{TARGET_NAMESPACE}"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="SoapFunctions"
             targetNamespace="{TARGET_NAMESPACE}">
	<portType name="SoapFunctionsPort">
		<operation name="PostTopic">
			<documentation>@static</documentation>
			<input message="tns:PostTopicIn"/>
			<output message="tns:PostTopicOut"/>
		</operation>
	</portType>
	<binding name="SoapFunctionsBinding" type="tns:SoapFunctionsPort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostTopic">
			<soap:operation soapAction="{SOAP_URL}#PostTopic"/>
			<input>
			<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			           namespace="{TARGET_NAMESPACE}"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
				           namespace="{TARGET_NAMESPACE}"/>
			</output>
		</operation>
	</binding>
	<service name="SoapFunctionsService">
		<port name="SoapFunctionsPort" binding="tns:SoapFunctionsBinding">
			<soap:address location="{SOAP_URL}"/>
		</port>
	</service>
	<message name="PostTopicIn">
		<part name="username" type="xsd:string"/>
		<part name="forum" type="xsd:string"/>
		<part name="topic" type="xsd:string"/>
		<part name="post" type="xsd:string"/>
	</message>
	<message name="PostTopicOut">
		<part name="return" type="xsd:boolean"/>
	</message>
</definitions>